venv/
__pycache__/
*.pyc
.DS_Store

data/datasets/
data/raw_txt/

*.db
*.pkl

data/models/*.joblib
data/models/*.joblib.gz

!data/models/trifecta120_model_meta.json
!data/models/trifecta_model_calibrated_meta.json
!data/models/racers_master.csv
